
@model Producto


<form asp-controller="Producto" asp-action="CrearProducto">
    <div class="form-group">
        <label asp-for="@Model.Nombre"></label>
        <input asp-for="@Model.Nombre" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="@Model.Precio"></label>
        <input asp-for="@Model.Precio" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

